<h1>Error Info:</h1>

<ul>
  <li>Error Message: <%= @error_info[:message] %></li>
  <li>File: <%= @error_info[:file_or_page] %></li>
  <li>Line Number: <%= @error_info[:line_number] %></li>
  <li>Column Number: <%= @error_info[:column_number] %></li>
  <li>User Agent: <%= @error_info[:user_agent] %></li>
  <li>Current Page: <%= @error_info[:current_page] %></li>
  <li>Platform: <%= @error_info[:platform] %></li>
  <li>Browser: <%= @error_info[:browser_name] %> <%= @error_info[:browser_version] %></li>
  <li>IP Address: <%= @error_info[:user_ip] %></li>
  <li>Referrer: <%= @error_info[:referrer] %></li>
</ul>

<h1>Stack Trace:</h1>

<pre><code><%= @error_info[:stack_trace] %></code></pre>
